TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
TARGET_WORKSPACE_ID=
TARGET_ENVIRONMENT_NAME=DEV
REPOSITORY_DIRECTORY=./.
EXCLUDE_FOLDERS=
ITEM_TYPES_IN_SCOPE=
LOG_LEVEL=INFO
ENABLE_SHORTCUT_PUBLISH=true
REMOVE_ORPHANS=true
VALIDATE_ONLY=true

